{% extends 'accounts/main.html' %}
{% block content %}
{% include 'accounts/status.html' %}

<div class="row my-5">
    <div class="col">
        <a class="btn btn-outline-primary btn-block" href="{% url 'create_order' request.user.customer.id %}">Create
            your
            Order</a>
    </div>
</div>

<div class="row">
    <div class="col-md">
        <h5 class="card-header bg-dark text-white text-center">Orders by you: </h5>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Note</th>
                    <th>Date Orderd</th>
                    <th>Status</th>
                </tr>

                {% for order in orders %}

                <tr>
                    <td>{{order.product}}</td>
                    <td>{{order.note}}</td>
                    <td>{{order.date_created}}</td>
                    <td>{{order.status}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock content %}