<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script> -->

<div class="conainer">
    <div class="row mt-5 text-center">
        <div class="col-md-6 mx-auto">
            <h3>Password reset</h3>

            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one.</p>

            <form method="post">

                {% csrf_token %}
                {{form}}
                <input type="Submit" name="Send email">

            </form>
        </div>
    </div>
</div>